$anchor-color: #fff9a6;

/* Buttons */
$button-primary-color: #fff;
$button-background-color: #1b6ec2;
$button-border-color: #1861ac;

/* Borders */
$border-line-color: #e5e5e5;

/* Media sizes */
$screen-type-widths: (
    "mobile": 576px,
    "tablet": 840px
)